@CHARSET "ISO-8859-1";
body{
	background-color: #FFFFFF;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: font-size: 100%;
}
.banner{
	width: 90%;
	height: 150px;
	margin: auto;
}
.banner .logo{
	width: 30%;
	height: 150px;
	float: rigth;
	display: inline;
}
.logo .logoEmpresa{
	width: 20%;
	height: 150px;
}
.banner .slider{
	width: 60%;
	height: 150px;
	display: inline;
}
.banner .slider img{
	width: 60%;
	height: 150px;
	margin: auto;
}
.container{
	width: 70%;
	margin: auto;
	background-color: #F8F8FF;
}
h1{
	text-align: center;
	color:#000000;
}
input {
    border: 3px solid ##DDDDDD;
    font-size: 100px; 
    -webkit-box-shadow: 
      inset 0 0 10px  rgba(0,0,0,0.1),
            0 0 20px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 10px  rgba(0,0,0,0.1),
            0 0 20px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 10px  rgba(0,0,0,0.1),
            0 0 20px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}
.boton{
	padding: 10px 35px;
	float: centrer;
 	overflow:hidden;
}
.tablaConsulta{
	text-align: left;
}
.comprobantePDF-XML{
	width:65%;
	margin: 0 auto;
	text-align: center;
	border-color: black;
	border: 1px solid black; box-shadow: 10px 10px 5px #888888;
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
	
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
	
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
	
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}
th{
	margin: 0 auto;
	text-align: center;
	border-color: black;
}

